<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>dokodemodoorServer</display-name>
  <servlet>
    <servlet-name>QueryAllTripServlet</servlet-name>
    <servlet-class>servlet.tripServlet.QueryAllTripServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryAllTripServlet</servlet-name>
    <url-pattern>/getAllTrip</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>QueryTripByIdServlet</servlet-name>
    <servlet-class>servlet.tripServlet.QueryTripByIdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryTripByIdServlet</servlet-name>
    <url-pattern>/getTripById</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddTripServlet</servlet-name>
    <servlet-class>servlet.tripServlet.AddTripServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddTripServlet</servlet-name>
    <url-pattern>/addTrip</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateTripByIdServlet</servlet-name>
    <servlet-class>servlet.tripServlet.UpdateTripByIdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateTripByIdServlet</servlet-name>
    <url-pattern>/updateTrip</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteTripByIdServlet</servlet-name>
    <servlet-class>servlet.tripServlet.DeleteTripByIdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteTripByIdServlet</servlet-name>
    <url-pattern>/deleteTrip</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>QueryAllMicroblogServlet</servlet-name>
    <servlet-class>servlet.microblogServlet.QueryAllMicroblogServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryAllMicroblogServlet</servlet-name>
    <url-pattern>/getAllMicroblog</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>QueryMicroblogByIdServlet</servlet-name>
    <servlet-class>servlet.microblogServlet.QueryMicroblogByIdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryMicroblogByIdServlet</servlet-name>
    <url-pattern>/getMicroblog</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddMicroblogServlet</servlet-name>
    <servlet-class>servlet.microblogServlet.AddMicroblogServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddMicroblogServlet</servlet-name>
    <url-pattern>/addMicroblog</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteMicroblogByIdServlet</servlet-name>
    <servlet-class>servlet.microblogServlet.DeleteMicroblogByIdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteMicroblogByIdServlet</servlet-name>
    <url-pattern>/deleteMicroblog</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>UpdateMicroblogByIdServlet</servlet-name>
    <servlet-class>servlet.microblogServlet.UpdateMicroblogByIdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateMicroblogByIdServlet</servlet-name>
    <url-pattern>/updateMicroblog</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>QueryAllAlbumServlet</servlet-name>
    <servlet-class>servlet.musicServlet.QueryAllAlbumServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryAllAlbumServlet</servlet-name>
    <url-pattern>/getAllAlbum</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>QueryMusicByAlbumidServlet</servlet-name>
    <servlet-class>servlet.musicServlet.QueryMusicByAlbumidServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryMusicByAlbumidServlet</servlet-name>
    <url-pattern>/getMusic</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>QueryAllMusicServlet</servlet-name>
    <servlet-class>servlet.musicServlet.QueryAllMusicServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryAllMusicServlet</servlet-name>
    <url-pattern>/getAllMusic</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>QiniuUploadServlet</servlet-name>
    <servlet-class>servlet.qiniuUploadServlet.QiniuUploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QiniuUploadServlet</servlet-name>
    <url-pattern>/getUploadToken</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>QueryAllUpvoteStarServlet</servlet-name>
    <servlet-class>servlet.upvoteServlet.QueryAllStarUpvoteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryAllUpvoteStarServlet</servlet-name>
    <url-pattern>/getAllStarUpvote</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddUpvoteStarServlet</servlet-name>
    <servlet-class>servlet.upvoteServlet.AddStarUpvoteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddUpvoteStarServlet</servlet-name>
    <url-pattern>/addStarUpvote</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteStarUpvoteServlet</servlet-name>
    <servlet-class>servlet.upvoteServlet.DeleteStarUpvoteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>DeleteStarUpvoteServlet</servlet-name>
    <url-pattern>/deleteStarUpvote</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateStarUpvoteServlet</servlet-name>
    <servlet-class>servlet.upvoteServlet.UpdateStarUpvoteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>UpdateStarUpvoteServlet</servlet-name>
    <url-pattern>/updateStarUpvote</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>QueryStarUpvoteByMicroblogidServlet</servlet-name>
    <servlet-class>servlet.upvoteServlet.QueryStarUpvoteByMicroblogidServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>QueryStarUpvoteByMicroblogidServlet</servlet-name>
    <url-pattern>/getStarUpvoteByMicroblogid</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>AddNewsServlet</servlet-name>
    <servlet-class>servlet.newsServlet.AddNewsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>AddNewsServlet</servlet-name>
    <url-pattern>/addNews</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteNewsByIdServlet</servlet-name>
    <servlet-class>servlet.newsServlet.DeleteNewsByIdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>DeleteNewsByIdServlet</servlet-name>
    <url-pattern>/deleteNewsById</url-pattern>
  </servlet-mapping>
  <servlet>
   	<servlet-name>QueryAllNewsServlet</servlet-name>
    <servlet-class>servlet.newsServlet.QueryAllNewsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>QueryAllNewsServlet</servlet-name>
    <url-pattern>/getAllNews</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>QueryNewsByIdServlet</servlet-name>
    <servlet-class>servlet.newsServlet.QueryNewsByIdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>QueryNewsByIdServlet</servlet-name>
    <url-pattern>/getNewsById</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateNewsByIdServlet</servlet-name>
    <servlet-class>servlet.newsServlet.UpdateNewsByIdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>UpdateNewsByIdServlet</servlet-name>
    <url-pattern>/updateNewsById</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlet.loginServlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
    <url-pattern>/userLogin</url-pattern>
  </servlet-mapping>
  
  
  
</web-app>